@import 'paper-size'
@import 'mdl-variable-customization'
// @import '/bower_components/material-design-lite/src/material-design-lite'
@import '/bower_components/material-icons/css/material-icons.css'

html
  background-color: lightgrey

body
  width: 210mm
  box-shadow: 0 0 30px 0 transparentize(black, 0.5)
  box-sizing: border-box
  position: relative
  margin: 2cm auto 1cm
  padding-top:    map-get(map-get(nth($paper-size, 1), margin), top)
  padding-bottom: map-get(map-get(nth($paper-size, 1), margin), bottom)

  header
    margin-bottom: 2cm

  section#body
    margin-bottom: 2cm

    span#show-closing
      display: inherit

    span#closing
      display: none

  footer div.colorband
    margin-top: 1cm
    margin-bottom: 1cm