section.messages
  margin: 4em -21mm 0 -21mm

div.error-container, div.manual-container
  padding: 4em
  color: transparentize(white, 0.4)  !important

  a 
    color: white !important

  h1
    font-weight: 200
    color: white !important

div.error-container
  background-color: darken(red, 20) !important

div.manual-container
  background-color: #4D6FB3 !important
  display: none