$paper-size: (
  format: A4,
  orientation: portrait,
  margin: (
    top: 15mm,
    left: 21mm,
    right: 21mm,
    bottom: 15mm,
    deferHorizontal: true,
    deferVertical: false
  ),
  border: 0cm
)