@import url(../bower_components/normalize.css/normalize.css);
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  position: relative;
  font-family: "DINPro", "Roboto", sans-serif;
  font-size: 14px;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  body::after {
    clear: both;
    content: "";
    display: table; }

.page {
  color: #1A2C33 !important;
  background-color: white;
  min-height: 250mm;
  padding-left: 21mm;
  padding-right: 21mm;
  box-sizing: border-box; }

a, .hyperlink {
  color: #259CCF !important; }
  a:hover, .hyperlink:hover {
    color: #15678A !important; }

h1 {
  font-weight: 200;
  font-size: 3em;
  line-height: 1.35;
  letter-spacing: -0.02em;
  margin-top: 24px;
  margin-bottom: 24px; }

h1, h2, h3, h4, h5 {
  color: #15678A !important; }

.muted {
  color: #8d9699 !important; }

html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

header, section.header-details {
  display: block; }
  header::after, section.header-details::after {
    clear: both;
    content: "";
    display: table; }
  header img#logo, header div.left, section.header-details img#logo, section.header-details div.left {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%; }
    header img#logo:last-child, header div.left:last-child, section.header-details img#logo:last-child, section.header-details div.left:last-child {
      margin-right: 0; }
  header div.right, section.header-details div.right {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 57.3509785009%;
    padding-left: 6mm; }
    header div.right:last-child, section.header-details div.right:last-child {
      margin-right: 0; }
  header img#logo, section.header-details img#logo {
    padding: 0 12mm 0 0; }

h1#document-type {
  letter-spacing: 1mm; }

h1#price {
  padding: 3mm 6mm;
  margin-left: -6mm;
  margin-right: -21mm;
  background-color: #15678A !important;
  color: white !important; }

table.meta {
  width: 100%; }
  table.meta colgroup col.meta-name {
    width: 3.4cm; }
  table.meta td.muted {
    text-align: right; }
  table.meta td[for="project"] {
    vertical-align: top; }

html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  position: relative;
  font-family: "DINPro", "Roboto", sans-serif;
  font-size: 14px;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  body::after {
    clear: both;
    content: "";
    display: table; }

.page {
  color: #1A2C33 !important;
  background-color: white;
  min-height: 250mm;
  padding-left: 21mm;
  padding-right: 21mm;
  box-sizing: border-box; }

a, .hyperlink {
  color: #259CCF !important; }
  a:hover, .hyperlink:hover {
    color: #15678A !important; }

h1 {
  font-weight: 200;
  font-size: 3em;
  line-height: 1.35;
  letter-spacing: -0.02em;
  margin-top: 24px;
  margin-bottom: 24px; }

h1, h2, h3, h4, h5 {
  color: #15678A !important; }

.muted {
  color: #8d9699 !important; }

section#body {
  clear: both;
  padding-top: 6mm; }
  section#body table {
    width: 100%;
    margin-bottom: 6mm; }
    section#body table colgroup col.subtotal {
      text-align: right; }
    section#body table.services col.servicename {
      width: 50%; }
    section#body table.services col.hourlyrate {
      width: 30%; }
    section#body table.services col.hours {
      width: 10%; }
    section#body table.services col.subtotal {
      width: 10%; }
    section#body table.services.hasDiscounts colgroup col.servicename {
      width: 35%; }
    section#body table.services.hasDiscounts colgroup col.hourlyrate {
      width: 35%; }
    section#body table.services.hasDiscounts colgroup col.hours {
      width: 11%; }
    section#body table.services.hasDiscounts colgroup col.discount {
      width: 7%; }
    section#body table.services.hasDiscounts colgroup col.subtotal {
      width: 12%; }
    section#body table.products colgroup col.description {
      width: 70%; }
    section#body table.products colgroup col.price {
      width: 11%; }
    section#body table.products colgroup col.quantity {
      width: 8%; }
    section#body table.products colgroup col.subtotal {
      width: 11%; }
    section#body table.products.hasDiscounts colgroup col.description {
      width: 60%; }
    section#body table.products.hasDiscounts colgroup col.price {
      width: 11%; }
    section#body table.products.hasDiscounts colgroup col.quantity {
      width: 11%; }
    section#body table.products.hasDiscounts colgroup col.discount {
      width: 7%; }
    section#body table.products.hasDiscounts colgroup col.subtotal {
      width: 11%; }
    section#body table thead tr th.hourlyrate, section#body table tfoot td.type {
      text-align: right;
      padding-right: 6mm; }
    section#body table tr.table-meta {
      height: 2em;
      border-top: 2px solid #1A2C33 !important;
      border-bottom: 1px solid rgba(26, 44, 51, 0.5); }
      section#body table tr.table-meta th {
        text-align: left; }
      section#body table tr.table-meta th:last-child {
        text-align: right; }
    section#body table tr td:last-child {
      text-align: right; }
    section#body table tbody tr:first-child {
      height: 2em;
      vertical-align: bottom; }
    section#body table tbody tr:last-child {
      height: 2em;
      vertical-align: top; }
    section#body table tbody tr:first-child:last-child {
      vertical-align: middle; }
    section#body table tfoot {
      display: table-row-group;
      border-top: 1px solid rgba(26, 44, 51, 0.5); }
      section#body table tfoot tr:first-child {
        height: 2em;
        vertical-align: bottom; }

span#show-closing {
  display: block;
  display: none;
  text-align: center;
  margin: 1cm 0; }
  span#show-closing::after {
    clear: both;
    content: "";
    display: table; }

span#closing p {
  color: #8d9699 !important; }
  span#closing p strong {
    color: #8d9699 !important; }

html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  position: relative;
  font-family: "DINPro", "Roboto", sans-serif;
  font-size: 14px;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  body::after {
    clear: both;
    content: "";
    display: table; }

.page {
  color: #1A2C33 !important;
  background-color: white;
  min-height: 250mm;
  padding-left: 21mm;
  padding-right: 21mm;
  box-sizing: border-box; }

a, .hyperlink {
  color: #259CCF !important; }
  a:hover, .hyperlink:hover {
    color: #15678A !important; }

h1 {
  font-weight: 200;
  font-size: 3em;
  line-height: 1.35;
  letter-spacing: -0.02em;
  margin-top: 24px;
  margin-bottom: 24px; }

h1, h2, h3, h4, h5 {
  color: #15678A !important; }

.muted {
  color: #8d9699 !important; }

div.colorband {
  background-color: #15678A !important;
  color: white !important;
  margin: 6mm -21mm;
  padding: 1mm 21mm;
  clear: both;
  position: relative;
  overflow: hidden; }

.paper {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  box-shadow: 0 0 20px 0px black; }

.layer1 {
  background-color: #259CCF !important;
  width: 13cm; }

.layer2 {
  background-color: #E38A24 !important;
  width: 11cm; }

.layer3 {
  background-color: #945205 !important;
  width: 9cm;
  box-shadow: none; }

div#company-info {
  display: block; }
  div#company-info::after {
    clear: both;
    content: "";
    display: table; }
  div#company-info table {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%; }
    div#company-info table:last-child {
      margin-right: 0; }
  div#company-info table#accounts {
    color: #8d9699 !important;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 57.3509785009%;
    padding-left: 6mm; }
    div#company-info table#accounts:last-child {
      margin-right: 0; }
    div#company-info table#accounts td {
      padding-right: 6mm; }

section.messages {
  margin: 4em -21mm 0 -21mm; }

div.error-container, div.manual-container {
  padding: 4em;
  color: rgba(255, 255, 255, 0.6) !important; }
  div.error-container a, div.manual-container a {
    color: white !important; }
  div.error-container h1, div.manual-container h1 {
    font-weight: 200;
    color: white !important; }

div.error-container {
  background-color: #990000 !important; }

div.manual-container {
  background-color: #4D6FB3 !important;
  display: none; }

/*# sourceMappingURL=styles.css.map */