@import url(../bower_components/bootstrap/dist/css/bootstrap.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);
html {
  background-color: lightgrey; }

body {
  position: relative;
  font-family: "Roboto", sans-serif; }

.page {
  background-color: white;
  color: #1A2C33 !important;
  min-height: 287mm;
  padding-bottom: 3cm;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  box-sizing: border-box; }

a, .hyperlink {
  color: #259CCF !important; }
  a:hover, .hyperlink:hover {
    color: #15678A !important; }

.muted, div#company-info p#accounts, div#invoice-meta span {
  color: #8d9699 !important; }

img#logo {
  width: 75mm; }

div#company-info {
  display: inline-block;
  float: right;
  text-align: right; }
  div#company-info p#accounts {
    margin-top: 1cm; }

div#envelope-window {
  margin-top: 1em;
  display: inline-block;
  font-family: "Roboto", sans-serif; }

div#invoice-meta {
  float: left;
  text-align: left;
  clear: both;
  margin: 8mm 0; }
  div#invoice-meta h3 {
    font-size: 2.5em;
    font-weight: 300;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 1cm; }
  div#invoice-meta table tr td:nth-child(2n) {
    padding-left: 1cm; }

div#invoice-body {
  clear: both; }
  div#invoice-body table {
    width: 100%;
    margin-bottom: 1cm; }
    div#invoice-body table colgroup col.subtotal {
      text-align: right; }
    div#invoice-body table colgroup[data-colums="4"] col.servicename {
      width: 70%; }
    div#invoice-body table colgroup[data-colums="4"] col.price {
      width: 11%; }
    div#invoice-body table colgroup[data-colums="4"] col.quantity {
      width: 8%; }
    div#invoice-body table colgroup[data-colums="4"] col.subtotal {
      width: 11%; }
    div#invoice-body table colgroup[data-colums="5"] col.servicename {
      width: 60%; }
    div#invoice-body table colgroup[data-colums="5"] col.price {
      width: 11%; }
    div#invoice-body table colgroup[data-colums="5"] col.quantity {
      width: 11%; }
    div#invoice-body table colgroup[data-colums="5"] col.discount {
      width: 7%; }
    div#invoice-body table colgroup[data-colums="5"] col.subtotal {
      width: 11%; }
    div#invoice-body table th.project-name {
      height: 2em;
      border-bottom: 2px solid #1A2C33 !important;
      text-align: center; }
    div#invoice-body table tr.table-meta {
      height: 2em;
      border-bottom: 1px solid rgba(26, 44, 51, 0.5); }
      div#invoice-body table tr.table-meta th {
        text-align: left; }
      div#invoice-body table tr.table-meta th:last-child {
        text-align: right; }
    div#invoice-body table tr td:last-child {
      text-align: right; }
    div#invoice-body table tbody tr:first-child {
      height: 2em;
      vertical-align: bottom; }
    div#invoice-body table tbody tr:last-child {
      height: 2em;
      vertical-align: top; }
    div#invoice-body table tbody tr:first-child:last-child {
      vertical-align: middle; }
    div#invoice-body table tfoot {
      display: table-row-group;
      border-top: 1px solid rgba(26, 44, 51, 0.5); }
      div#invoice-body table tfoot tr:first-child {
        height: 2em;
        vertical-align: bottom; }

footer {
  border-top: 1px solid #1A2C33;
  bottom: 0;
  font-size: 0.8em;
  line-height: 1.2em;
  margin: 0 2cm 1cm;
  padding-top: 1mm;
  position: absolute;
  width: auto !important;
  letter-spacing: 0.013em; }

section.messages {
  margin: 4em -21mm 0 -21mm; }

div.error-container, div.manual-container {
  padding: 4em;
  color: rgba(255, 255, 255, 0.6) !important; }
  div.error-container a, div.manual-container a {
    color: white !important; }
  div.error-container h1, div.manual-container h1 {
    font-weight: 200;
    color: white !important; }

div.error-container {
  background-color: #990000 !important; }

div.manual-container {
  background-color: #4D6FB3 !important;
  display: none; }

/*# sourceMappingURL=styles.css.map */