@import 'bourbon'
@import 'neat'
@import '../bower_components/normalize-css/normalize.css'
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);

$primaryOrange: #E38A24
$secondaryOrange: #945205

$primaryBlue: #259CCF
$secondaryBlue: #15678A
$tertiaryBlue: #1A2C33

$textColor: $tertiaryBlue

$fontStack: "DINPro", "Roboto", sans-serif

html
  background-color: lightgrey

body
  position: relative
  font-family: $fontStack
  font-size: 0.9em
  @include outer-container

.page
  background-color: white
  color: $textColor !important
  // height: 297mm // Actual A4-portrait height, but we want to allow multiple pages, so no limit
  // TODO: a single 297mm page somehow overflows to 2 pages during capture. Apparently 287mm is
  // what PhantomJS considers A4 :/ try find fix
  min-height: 287mm 
  padding-left: 21mm
  padding-right: 21mm
  box-shadow: 0 0 30px 0 transparentize(black, 0.5)
  box-sizing: border-box

a, .hyperlink
  color: $primaryBlue !important
  &:hover
    color: $secondaryBlue !important

h1
  color: $secondaryBlue !important
  font-size: 3.4em
  font-weight: 200
  line-height: 1em

h4
  color: $secondaryBlue !important

// Override bootstrap
.muted
  color: mix($textColor, white) !important

@mixin muted
  color: mix($textColor, white) !important

$priceInset: 6mm

header, section.header-details
  @include row
  
  img#logo, div.left
    @include span-columns(5)

  div.right
    @include span-columns(7)
    padding-left: $priceInset

  img#logo
    padding: 0 16mm 6mm 0

h1#document-type
  letter-spacing: 1mm

h1#price
  padding: 3mm $priceInset
  margin-left: -$priceInset
  margin-right: -21mm
  background-color: $secondaryBlue !important
  color: white !important

table.meta
  width: 100%
  colgroup
    col.meta-name
      width: 3.4cm

  td.muted
    text-align: right


div#company-info
  @include row
  p
    @include span-columns(6)
    display: inline-block
    margin: 0
  p#accounts
    @include muted
    @include span-columns(6)

 
section#body
  clear: both
  padding-top: 6mm

  table
    width: 100%
    margin-bottom: 1cm
    font-size: 1.1em

    colgroup
      col.subtotal
        text-align: right

    &.services
      col.servicename
        width: 50%
     
      col.hourlyrate
        width: 30%
     
      col.hours
        width: 10%
     
      col.subtotal
        width: 10%

    &.services.hasDiscounts colgroup
      col.servicename
        width: 40%
     
      col.hourlyrate
        width: 30%
     
      col.hours
        width: 11%

      col.discount
        width: 7%
     
      col.subtotal
        width: 11%

    &.products colgroup
      col.description
        width: 70%
     
      col.price
        width: 11%
     
      col.quantity
        width: 8%
     
      col.subtotal
        width: 11%

    &.products.hasDiscounts colgroup
      col.description
        width: 60%
     
      col.price
        width: 11%
     
      col.quantity
        width: 11%

      col.discount
        width: 7%
     
      col.subtotal
        width: 11%

    thead tr th.hourlyrate, tfoot td.type
      text-align: right
      padding-right: 6mm
   
    tr.table-meta
      height: 2em
      border-top: 2px solid $textColor !important
      border-bottom: 1px solid transparentize($textColor, 0.5)
      th
        text-align: left
     
      th:last-child
        text-align: right
     
   
    tr td:last-child
      text-align: right
   
    tbody tr:first-child
      height: 2em
      vertical-align: bottom
   
    tbody tr:last-child
      height: 2em
      vertical-align: top
   
    // Case for then there is only one row
    tbody tr:first-child:last-child
      vertical-align: middle
   
    tfoot
      display: table-row-group
      border-top: 1px solid transparentize($textColor, 0.5)
      tr:first-child
        height: 2em
        vertical-align: bottom


div.colorband
  background-color: $secondaryBlue !important
  color: white !important
  margin: 8mm -21mm
  padding: 1mm 21mm
  clear: both
  position: relative
  overflow: hidden

.paper
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  box-shadow: 0 0 20px 0px black

$width: 28em
.layer1
  background-color: $primaryBlue !important
  width: $width + 4
.layer2
  background-color: $primaryOrange !important
  width: $width + 2
.layer3
  background-color: $secondaryOrange !important
  width: $width
  box-shadow: none

footer
  @include muted

section.messages
  margin: 4em -21mm 0 -21mm

div.error-container, div.manual-container
  padding: 4em
  color: transparentize(white, 0.4)  !important

  a 
    color: white !important

  h1
    font-weight: 200
    color: white !important

div.error-container
  background-color: darken(red, 20) !important

div.manual-container
  background-color: #4D6FB3 !important
  display: none