@import '../bower_components/bootstrap/dist/css/bootstrap.css'
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);

$primaryOrange: #E38A24
$secondaryOrange: #945205

$primaryBlue: #259CCF
$secondaryBlue: #15678A
$tertiaryBlue: #1A2C33

$textColor: $tertiaryBlue

$fontStack: "Roboto", "Georgia", serif

html
  background-color: lightgrey

body
  background-color: white
  color: $textColor !important
  margin: 35px auto
  width: 210mm
  // height: 297mm // Actual A4-portrait height, but we want to allow multiple pages, so no limit
  min-height: 287mm //Bug: 297mm makes it overflow to 2 pages. 287mm is what PhantomJS considers A4
  padding-bottom: 3cm
  box-shadow: 0 0 30px 0 transparentize(black, 0.5)
  box-sizing: border-box
  position: relative
  font-family: $fontStack

a, .hyperlink
  color: $primaryBlue !important
  &:hover
    color: $secondaryBlue !important
 
// Override bootstrap
.muted
  color: mix($textColor, white) !important

img#logo
  margin: 15mm 21mm
  width: 75mm

div#company-info
  display: inline-block
  float: right
  margin: 15mm 15mm 0 0
  text-align: right
  p#accounts
    @extend .muted
    margin-top: 1cm
 
div#envelope-window
  left: 21mm
  position: absolute
  top: 46mm
  font-family: $fontStack

  span#retour-line
    border-bottom: 1px solid black
    display: block
    font-size: 2.8mm
    height: 1.8em
    margin-bottom: 6mm
 

div#invoice-meta
  $side: left
  float: $side
  text-align: $side
  clear: both
  margin: 8mm 15mm 8mm 21mm
  span
    @extend .muted
  h3
    font-size: 2.5em
    font-weight: 300 !important
    line-height: 1em
    margin-top: 0
    margin-bottom: 1cm
 
  table tr td:nth-child(2n)
    padding-left: 1cm
 
div#invoice-body
  clear: both
  margin: 0 15mm 0 21mm

  table
    width: 100%
    margin-bottom: 1cm

    colgroup
      col.subtotal
        text-align: right

    colgroup[data-colums="4"]
      col.servicename
        width: 70%
     
      col.price
        width: 11%
     
      col.quantity
        width: 8%
     
      col.subtotal
        width: 11%

    colgroup[data-colums="5"]
      col.servicename
        width: 60%
     
      col.price
        width: 11%
     
      col.quantity
        width: 11%

      col.discount
        width: 7%
     
      col.subtotal
        width: 11%
   
    th.project-name
      height: 2em
      border-bottom: 2px solid $textColor !important
      text-align: center
   
    tr.table-meta
      height: 2em
      border-bottom: 1px solid transparentize($textColor, 0.5)
      th
        text-align: left
     
      th:last-child
        text-align: right
     
   
    tr td:last-child
      text-align: right
   
    tbody tr:first-child
      height: 2em
      vertical-align: bottom
   
    tbody tr:last-child
      height: 2em
      vertical-align: top
   
    // Case for then there is only one row
    tbody tr:first-child:last-child
      vertical-align: middle
   
    tfoot
      border-top: 1px solid transparentize($textColor, 0.5)
      tr:first-child
        height: 2em
        vertical-align: bottom
 
footer
  border-top: 1px solid $textColor
  bottom: 0
  font-size: 0.8em
  line-height: 1.2em
  margin: 0 2cm 1cm
  padding-top: 1mm
  position: absolute
  width: auto !important
  letter-spacing: 0.013em

div.error-container
  padding: 15mm 21mm
  background-color: darken(red, 20) !important
  color: transparentize(white, 0.4)  !important

  a 
    color: white !important

  h1
    font-weight: 100
    color: white !important