@import url(../bower_components/bootstrap/dist/css/bootstrap.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);
html {
  background-color: lightgrey; }

body {
  position: relative;
  font-family: "Roboto", sans-serif; }

.page {
  background-color: white;
  color: #1A2C33 !important;
  min-height: 287mm;
  padding-left: 21mm;
  padding-right: 21mm;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  box-sizing: border-box; }

a, .hyperlink {
  color: #259CCF !important; }
  a:hover, .hyperlink:hover {
    color: #15678A !important; }

h1 {
  color: #15678A !important;
  font-size: 3.4em;
  font-weight: 200;
  line-height: 1em; }

h4 {
  color: #15678A !important;
  font-size: 1em; }
  h4 span.subtext {
    font-weight: normal; }

.muted {
  color: #8d9699 !important; }

img#logo {
  height: 44mm;
  margin-bottom: 6mm;
  margin-left: 6mm; }

h1#document-type {
  letter-spacing: 1mm;
  margin-bottom: 15mm; }

div.column.left {
  float: left; }

div.column.right {
  float: right;
  margin-top: 43mm; }

table.meta {
  width: 86mm; }
  table.meta colgroup col.meta-name {
    width: 3.4cm; }

h1.inverse {
  margin: 2mm -21mm 12mm 0px;
  padding: 3mm 8mm;
  background-color: #15678A !important;
  color: white !important; }

div#company-info p {
  display: inline-block;
  margin-bottom: 0; }

div#company-info p#accounts {
  color: #8d9699 !important;
  margin-left: 26%; }

div#body {
  clear: both;
  padding-top: 1cm; }
  div#body table {
    width: 100%;
    margin-bottom: 1cm; }
    div#body table colgroup col.subtotal {
      text-align: right; }
    div#body table.services col.servicename {
      width: 50%; }
    div#body table.services col.hourlyrate {
      width: 30%; }
    div#body table.services col.hours {
      width: 10%; }
    div#body table.services col.subtotal {
      width: 10%; }
    div#body table.services.hasDiscounts colgroup col.servicename {
      width: 40%; }
    div#body table.services.hasDiscounts colgroup col.hourlyrate {
      width: 30%; }
    div#body table.services.hasDiscounts colgroup col.hours {
      width: 11%; }
    div#body table.services.hasDiscounts colgroup col.discount {
      width: 7%; }
    div#body table.services.hasDiscounts colgroup col.subtotal {
      width: 11%; }
    div#body table.products colgroup col.description {
      width: 70%; }
    div#body table.products colgroup col.price {
      width: 11%; }
    div#body table.products colgroup col.quantity {
      width: 8%; }
    div#body table.products colgroup col.subtotal {
      width: 11%; }
    div#body table.products.hasDiscounts colgroup col.description {
      width: 60%; }
    div#body table.products.hasDiscounts colgroup col.price {
      width: 11%; }
    div#body table.products.hasDiscounts colgroup col.quantity {
      width: 11%; }
    div#body table.products.hasDiscounts colgroup col.discount {
      width: 7%; }
    div#body table.products.hasDiscounts colgroup col.subtotal {
      width: 11%; }
    div#body table tr.table-meta {
      height: 2em;
      border-top: 2px solid #1A2C33 !important;
      border-bottom: 1px solid rgba(26, 44, 51, 0.5); }
      div#body table tr.table-meta th {
        text-align: left; }
      div#body table tr.table-meta th:last-child {
        text-align: right; }
    div#body table tr td:last-child {
      text-align: right; }
    div#body table tbody tr:first-child {
      height: 2em;
      vertical-align: bottom; }
    div#body table tbody tr:last-child {
      height: 2em;
      vertical-align: top; }
    div#body table tbody tr:first-child:last-child {
      vertical-align: middle; }
    div#body table tfoot {
      display: table-row-group;
      border-top: 1px solid rgba(26, 44, 51, 0.5); }
      div#body table tfoot tr:first-child {
        height: 2em;
        vertical-align: bottom; }

div.colorband {
  background-color: #15678A !important;
  color: white !important;
  margin: 8mm -21mm;
  padding: 1mm 21mm;
  clear: both;
  position: relative;
  overflow: hidden; }

.paper {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  box-shadow: 0 0 20px 0px black; }

.layer1 {
  background-color: #259CCF !important;
  width: 32em; }

.layer2 {
  background-color: #E38A24 !important;
  width: 30em; }

.layer3 {
  background-color: #945205 !important;
  width: 28em;
  box-shadow: none; }

section.messages {
  margin: 4em -21mm 0 -21mm; }

div.error-container, div.manual-container {
  padding: 4em;
  color: rgba(255, 255, 255, 0.6) !important; }
  div.error-container a, div.manual-container a {
    color: white !important; }
  div.error-container h1, div.manual-container h1 {
    font-weight: 200;
    color: white !important; }

div.error-container {
  background-color: #990000 !important; }

div.manual-container {
  background-color: #4D6FB3 !important;
  display: none; }

/*# sourceMappingURL=styles.css.map */