<section class="messages" id="nota-require-error">
  <div class="error-container">
    <h1>Can't connect to Nota server</h1>
    <p>Couldn't require Nota client module, which is required for getting the data to render into the template when rendering under PhantomJS.</p>
    <p>{{this}}</p>
  </div>
</section>